* {
    padding: 0;
    margin: 0;
    vertical-align: baseline;
    list-style: none;
    border: 0;
    box-sizing: border-box;
    z-index: 1;
    font-family: Montserrat-Medium, Arial, Helvetica, sans-serif;
}

html {
    scroll-behavior: smooth;
}

@font-face { 
    font-family: Montserrat-Regular;
    src: url('../font/Montserrat/static/Montserrat-Regular.ttf');
}
@font-face {
    font-family: Montserrat-Medium;
    src: url('../font/Montserrat/static/Montserrat-Medium.ttf');
}
@font-face {
    font-family: Montserrat-SemiBold;
    src: url('../font/Montserrat/static/Montserrat-SemiBold.ttf');
}
@font-face {
    font-family: Montserrat-Bold;
    src: url('../font/Montserrat/static/Montserrat-Bold.ttf');
}
@font-face {
    font-family: Poppins-Black;
    src: url(../font/Poppins/Poppins-SemiBold.otf);
}

body {
    background-color: #e6e4e4;
}
.conteudo-geral {
    display: grid;
    grid-template-rows: auto auto auto;
    min-height: 100vh;
    background-color: #e6e4e4;
}

body::-webkit-scrollbar {
    width: 12px;               /* width of the entire scrollbar */
  }
  
  body::-webkit-scrollbar-track {
    background: #c9c8c8;        /* color of the tracking area */
  }
  
  body::-webkit-scrollbar-thumb {
    background-color: #958E9A;    /* color of the scroll thumb */
  }


header {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    width: 100%; height: 60px;
    margin-top: 12px;
    z-index: 2;
}
.headerConteudo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1200px; height: 60px;
    padding: 5px 50px;
    background-color: #6E7A93;
    border-radius: 10px;
}
.logo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 15px;
}
.logo img {
    width: 40px;
}
.logo span{
    font-family: Poppins-Black, Arial, Helvetica, sans-serif;
    font-size: 1.3em;
    color: #d4c2a2;
}
.listTopics {
    display: flex;
    justify-content: space-between;
}
.listTopics li {
    display: flex;
    justify-content: center;
    padding: 10px 15px;
    margin: 0 10px;
}
.listTopics li, .listTopics a {
    color: #fff;
    font-family: Montserrat-SemiBold, Arial, Helvetica, sans-serif;
    border-radius: 10px;
    text-decoration: none;
    transition: .5s;
}
.listTopics li:hover {
    background-color: #F1D8BA50;
    color: #ffffff;
    cursor: pointer;
    border-radius: 18px;
}
.wrapper-submenu {
    display: none;
}
li.multiMenu  {
    width: 140px;
}
li.multiMenu:hover {
    border-radius: 18px 18px 0px 0px;
}
.listTopics li:hover .wrapper-submenu {
    display: block;
    position: absolute;
    width: 140px; height: auto;
    padding: 5px;
    margin-top: 24px;
    background-color: #98989F;
    border-radius: 0 0 18px 18px;
}
.wrapper-submenu ul {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.wrapper-submenu li {
    display: flex;
    align-items: center;
    height: 30px;
    margin: 3px 0;
}



main {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 70px;
}


.introduction {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 1200px; height: 500px;
    margin-top: 13px;
    background-color: #70B6C0;
    border-radius: 10px;
    overflow: hidden;
}
.introduction img {
    width: 100%;
}


.direitosBasicos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 500px;
}
.direitosBasicos>h1 {
    color: #20263a;
    font-family: Montserrat-SemiBold, Arial, Helvetica, sans-serif;
    font-size: 2.5em;
    margin: 50px 0 15px 0;
}
.carroselDireitosBasicos {
    width: 1200px; height: 400px;
}
.cardDireito {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1200px; height: 400px;
    padding: 50px;
    background-color: var(--cor);
    border-radius: 10px;
    color: #ffffff;
    font-size: 1.5em;
}
.textDireito {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 680px;
    text-align: left;
}
.imgDireito {
    display: flex;
    justify-content: center;
    width: 400px;
}
.imgDireito img{
    width: 200px;
}



.direitosUteis {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    color: #363636;
}
.carroselMiniDireitos{
    width: 1200px; height: 300px;
}
.cardMiniDireito {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    width: 380px; height: 280px;
    padding: 25px;
    background-color: var(--cor);
    border-radius: 10px;
    color: #ffffff;
    text-align: justify;
}
.cardMiniDireito h1{
    text-align: center;
    height: 50px;
}
.cardMiniDireito h3 {
    font-family: Montserrat-Regular, Arial, Helvetica, sans-serif;
    font-size: 0.95em;
}



.contatoDrFran {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: auto;
}
.cardDrFran {
    display: flex;
    justify-content: space-between;
    width: 1200px; height: 400px;
    padding: 0px;
    overflow: hidden;
    background-color: #6E7A93;
    border-radius: 10px;
}
.informDrFran {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 650px;
    padding: 40px;
    font-size: 1.5em;
    color: #ffffff;
    text-align: justify;
}
.imagemDrFran {
    filter: grayscale(0.3);
}
.redesSociaisFran {
    display: flex;
    align-items: center;
    gap: 5px;
}
.redesSociaisFran span {
    font-size: 0.7em;
}
.redesSociaisFran span a {
    color: #e0e0e0;
    text-decoration: none;
    font-size: 0.7em;
    font-family: Montserrat-SemiBold, Arial, Helvetica, sans-serif;
    margin-right: 15px;
    transition: .5s;
    cursor: pointer;
}
.redesSociaisFran span:hover a {
    color: #ffffff;
}
.wrapperRedeSocialFran {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 35px; height: 35px;
    background-color: #cccccc;
    border-radius: 20px;
}

.wrapperRedeSocialFran img {
    width: 35px;
}






.quemSomos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 500px;
}

.wrapperPerfils {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1200px; height: 500px;
}

.cardPerfil {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 270px; height: 500px;
    padding: 20px;
    background-color: var(--cor);
    border-radius: 10px;
    color: #ffffff;
}
.fotoPerfil {
    height: 225px;
    border-radius: 10px;
    background-image: var(--img);
    background-size: 100%;
}
.fotoPerfil img{
    width: 225px;
    border-radius: 10px;
    transition: .5s;
}
.fotoPerfil img:hover {
    cursor: pointer;
    filter: opacity(0);
}


.informPerfil {
    display: flex;
    flex-direction: column;
    height: auto;
}
.informPerfil h1 {
    height: 50px;
}
.informPerfil p:nth-child(2) {
    height: 100px;
}
.informPerfil p:nth-child(3) {
    height: 50px;
    text-align: center;
}
.informPerfil p {
    font-family: Montserrat-Regular, Arial, Helvetica, sans-serif;
}
.informPerfil span {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    cursor: pointer;
}
.informPerfil span:hover a{
    color: #c58c7b;
}
.informPerfil span a {
    font-family: Montserrat-Medium, Arial, Helvetica, sans-serif;
    text-decoration: none;
    color: #ffffff;
    transition: .5s;
}
.informPerfil span img {
    width: 24px;    
}





footer {
    display: flex;
    justify-content: center;
}
.footerConteudo {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    width: 1200px; height: 100px;
    padding: 15px;
    margin: 100px 0 30px 0;
    background-color: #6E7A93;
    border-radius: 10px;
}
.footerConteudo span {
    color: #ffffff;
}