* {
    padding: 0;
    margin: 0;
    vertical-align: baseline;
    list-style: none;
    border: 0;
    box-sizing: border-box;
    z-index: 1;
    font-family: Montserrat-Medium, Arial, Helvetica, sans-serif;
}

@font-face { 
    font-family: Montserrat-Regular;
    src: url('../font/Montserrat/static/Montserrat-Regular.ttf');
}
@font-face {
    font-family: Montserrat-Medium;
    src: url('../font/Montserrat/static/Montserrat-Medium.ttf');
}
@font-face {
    font-family: Montserrat-SemiBold;
    src: url('../font/Montserrat/static/Montserrat-SemiBold.ttf');
}
@font-face {
    font-family: Montserrat-Bold;
    src: url('../font/Montserrat/static/Montserrat-Bold.ttf');
}

.conteudo-geral {
    display: grid;
    grid-template-rows: auto auto 500px;
    min-height: 100vh;
    background-color: #e6e6e6;
}


header {
    display: flex;
    flex-direction: column;
    position: absolute;
    width: 100%;
    z-index: 2;
}

main {
    display: flex;
    flex-direction: column;
}

.wrapper-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 62px;
    padding-top: 5px;
    background-color: transparent;
}
.wrapper-logo img {
    height: 62px;
}
.wrapper-header div, menu {
    margin: 0 40px;
}
.wrapper-header menu {
    display: flex;
    justify-content: space-between;
}
.wrapper-header menu li {
    padding: 20px;
    color: #99A0E4;
    font-family: Montserrat-SemiBold, Arial, Helvetica, sans-serif;
}
.wrapper-header menu li:hover {
    color: #8255ff;
    cursor: pointer;
}

.introduction {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 940px;
    background-image: url('../img/zyro-image.png');
    background-size: 100%;
    box-shadow: 0 5px 8px #1b171f7e;
}
.introduction h1 {
    color: #3f13b8;
    font-size: 8em;
}
.introduction h3 {
    color: #9274ff;
    font-size: 2em;
}


.direitosBasicos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 500px;
}
.direitosBasicos>h1 {
    font-family: Montserrat-SemiBold, Arial, Helvetica, sans-serif;
    font-size: 2.5em;
    margin: 50px 0 15px 0;
}
.carroselDireitosBasicos {
    width: 1200px; height: 400px;
}
.cardDireito {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1200px; height: 400px;
    padding: 50px;
    background-color: var(--cor);
    border-radius: 25px;
    color: #ffffff;
    font-size: 1.5em;
}
.textDireito {
    display: flex;
    flex-direction: column;
    width: 500px;
    text-align: justify;
}
.imgDireito {
    float: right;
}
.imgDireito img{
    width: 200px;
}


.direitosUteis {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}
.carroselMiniDireitos{
    width: 1200px; height: 300px;
}
.cardMiniDireito {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 380px; height: 300px;
    padding: 25px;
    background-color: var(--cor);
    border-radius: 25px;
    color: #ffffff;
    text-align: justify;
}



.contatoDrFran {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 500px;
}
.cardDrFran {
    display: flex;
    justify-content: space-between;
    width: 1200px; height: 400px;
    padding: 25px;
    background-color: #9274ff;
    border-radius: 25px;
}
.informDrFran {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 500px;
    font-size: 1.5em;
}


